Remove padding from autogenerated keys.

As per the Google Authenticator URI format ([see full docs here](https://github.com/google/google-authenticator/wiki/Key-Uri-Format#secret)): The padding specified in RFC 3548 section 2.2 is not required and should be omitted.